**/.env
**/hubspot_*
**/bot-translate.py
**/backups
**/*.json
/scripts/holiday-page-scripts/Details.txt
/scripts/holiday-page-scripts/data
/scripts/holiday-page-scripts/pdf
/scripts/holiday-page-scripts/updated